body{
    background-color: burlywood;
}
.cadre-diapo{
    max-width:800px;
    min-height: 400px;
    max-height: 600px;
    position: relative;
    margin: 0 auto;
}


.diapo {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    top: 50%;
    transition: opacity 1s;
    width: 100%;
    max-width: 600px;
}

button{
    border: none;
    cursor: pointer
}

.precedent,
.suivant{
    color: silver;
    transition: color .4s linear;
    transform: translatey(-50%);
    top: 50%;
    padding: .5rem;
    font-size: 2rem;
    background: white;
    position: absolute
}

.precedent{left:0}
.suivant{right:0}

.precedent:hover,
.suivant:hover{
    color: black
}

.numeros{
    transition: background .4s linear;
    color: white;
    background: #7A5FFF
}

.cadre-demo{
    display: flex;
    justify-content: center;
}